
<%= form_for @profile, url: profiles_path, html: { multipart: true } do |form| %>
  <div class="field">
  <%= form.file_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :profile_name %>
  </div>

  <div class="field">
    <%= form.label :nacionality %>
    <%= form.text_field :nacionality, id: :profile_nacionality %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :profile_age %>
  </div>

  <div class="field">
    <p>Sex:  Male/ Female</p>
    <%= form.label :sex  %>
    <%= form.text_field :sex, id: :profile_sex %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>

<!--

<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.label :User_id %>
    <%= form.text_field :User_id, id: :profile_User_id %>
  </div>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :profile_name %>
  </div>

  <div class="field">
    <%= form.label :nacionality %>
    <%= form.text_field :nacionality, id: :profile_nacionality %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :profile_age %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex, id: :profile_sex %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


</div>
</div>
</body>
</html>

--->