



<p id="notice"><%= notice %></p>

<h1><%= @profile.name %> </h1>

<div class = "row">

<div class=" col-5">

<div class=" row">
  <h2>Nacionality:</h2>
  <h2><%= @profile.nacionality %></h2>
</div>

  <div class=" row">
  <h2>Age:</h2>
 <h2> <%= @profile.age %></h2>
  </div>

<div class=" row">
  <h2>Sex:</h2>
 <h2> <%= @profile.sex %></h2>
</div>

</div>


<div class = "col-7">
  <img src="/assets/getfunding.jpg" height="200" width="360">


</div>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
</div>
</body>
</html>
