<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<title> Session</title>

<body>


<div class="container">


  <nav class="navbar navbar-dark bg-primary">
    <div class="row">
      <h1 style="color:white">Eggshell</h1>
      <div class=" col">
        <div class="row">
          <a href="/home/index" class="btn btn-primary" role="button">Home</a>
          <a href="/users" class="btn btn-primary" href="#" role="button">User</a>
          <a href="/projects" class="btn btn-primary" href="#" role="button">My projects</a>
        </div>
      </div>
      <div class="col">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

      </div>

      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>

    </div>


  </nav>
  <div class=col-4>




<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.User %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Nacionality:</strong>
  <%= @profile.nacionality %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>


</div>
</div>
</body>
</html>
