<%= form_with(model: user_funds_proyect, local: true) do |form| %>
  <% if user_funds_proyect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_funds_proyect.errors.count, "error") %> prohibited this user_funds_proyect from being saved:</h2>

      <ul>
      <% user_funds_proyect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :User_id %>
    <%= form.text_field :User_id, id: :user_funds_proyect_User_id %>
  </div>

  <div class="field">
    <%= form.label :Proyect_id %>
    <%= form.text_field :Proyect_id, id: :user_funds_proyect_Proyect_id %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :user_funds_proyect_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
