<p id="notice"><%= notice %></p>

<h1>User Funds Proyects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Proyect</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_funds_proyects.each do |user_funds_proyect| %>
      <tr>
        <td><%= user_funds_proyect.User %></td>
        <td><%= user_funds_proyect.Proyect %></td>
        <td><%= user_funds_proyect.value %></td>
        <td><%= link_to 'Show', user_funds_proyect %></td>
        <td><%= link_to 'Edit', edit_user_funds_proyect_path(user_funds_proyect) %></td>
        <td><%= link_to 'Destroy', user_funds_proyect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Funds Proyect', new_user_funds_proyect_path %>
