<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_funds_proyect.User %>
</p>

<p>
  <strong>Proyect:</strong>
  <%= @user_funds_proyect.Proyect %>
</p>

<p>
  <strong>Value:</strong>
  <%= @user_funds_proyect.value %>
</p>

<%= link_to 'Edit', edit_user_funds_proyect_path(@user_funds_proyect) %> |
<%= link_to 'Back', user_funds_proyects_path %>
