<h1>Eggshell</h1>
<p>Cristobal Erenchun</p>
<p>Felipe Gomez</p>
<h2>
  <td> <%= link_to "Home", home_index_path  %></td>
</h2>
<h2> Users</h2>
<td> <%= link_to "Users index", users_path  %></td>
<td> <%= link_to "New user", new_user_path  %></td>

<h2> Proyects</h2>
<td> <%= link_to "Proyects index", proyects_path  %></td>
<td> <%= link_to "New proyect", new_proyect_path  %></td>

<h2> Promises</h2>
<td> <%= link_to "Promises index", promises_path  %></td>
<td> <%= link_to "New promise", new_promise_path %></td>

<h2> Profile</h2>
<td> <%= link_to "Profiles index", profiles_path  %></td>
<td> <%= link_to "New profile", new_profile_path  %></td>

