<%= form_with(model: admin_administrate_proyect, local: true) do |form| %>
  <% if admin_administrate_proyect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_administrate_proyect.errors.count, "error") %> prohibited this admin_administrate_proyect from being saved:</h2>

      <ul>
      <% admin_administrate_proyect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Admin_id %>
    <%= form.text_field :Admin_id, id: :admin_administrate_proyect_Admin_id %>
  </div>

  <div class="field">
    <%= form.label :Proyect_id %>
    <%= form.text_field :Proyect_id, id: :admin_administrate_proyect_Proyect_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
