<p id="notice"><%= notice %></p>

<h1>Admin Administrate Proyects</h1>

<table>
  <thead>
    <tr>
      <th>Admin</th>
      <th>Proyect</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_administrate_proyects.each do |admin_administrate_proyect| %>
      <tr>
        <td><%= admin_administrate_proyect.Admin %></td>
        <td><%= admin_administrate_proyect.Proyect %></td>
        <td><%= link_to 'Show', admin_administrate_proyect %></td>
        <td><%= link_to 'Edit', edit_admin_administrate_proyect_path(admin_administrate_proyect) %></td>
        <td><%= link_to 'Destroy', admin_administrate_proyect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Administrate Proyect', new_admin_administrate_proyect_path %>
