<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @admin_administrate_proyect.Admin %>
</p>

<p>
  <strong>Proyect:</strong>
  <%= @admin_administrate_proyect.Proyect %>
</p>

<%= link_to 'Edit', edit_admin_administrate_proyect_path(@admin_administrate_proyect) %> |
<%= link_to 'Back', admin_administrate_proyects_path %>
