

<div class="album py-5 bg-light">
      <div class="container">
        <% @projects.each do |project| %>

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h1><%= project.name %></h1>
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp; text=Falcon Heavy" alt="cohete feed" style="height: 225px; width: 100%; display: block;" src="/assets/cohete.jpg">
              <div class="card-body">
                <h3>Goal</h3>
                <p class="card-text"><%= project.goal %></p>
                <h3>Colected</h3>
                <p class="card-text"><%= project.money_colected %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <% if user_signed_in? %>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Show', project %></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_project_path(project) %></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                    <%else%>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Show', project %></button>
                    <%end%>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
</div>
  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'New Project', new_project_path %></button>
<% if user_signed_in? %>
  <a type="button" class="btn btn-sm btn-outline-secondary" href="/wishlists">Wishlist</a>
<% end %>
  <!---
<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th>Goal</th>
      <th>Money colected</th>
      <th>Expiration date</th>
      <th>State</th>
      <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.User %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.goal %></td>
        <td><%= project.money_colected %></td>
        <td><%= project.expiration_date %></td>
        <td><%= project.state %></td>
        <td><%= project.start_date %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

-->

  </div>

</body>
</html>
