
<nav class="navbar navbar-expand-md navbar-light bg-none ">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
          <a class="btn btn-primary m-1" style="color:#FFFFFF"  role="button"  href="/categories">Search by category</a>
        </li>
          <% if user_signed_in? %>
          <li class="nav-item active">
            <a class="btn btn-primary m-1" style="color:#FFFFFF"  role="button" href="/projects/new">New project</a>
          </li>
          <li class="nav-item active">
            <a class="btn btn-primary m-1" style="color:#FFFFFF"  role="button" href="/wishlists">Wishlist</a>
          </li>
        <% end %>

      </ul>
    </div>
  </div>


</nav>




<div class="album py-5 album-transparent">
      <div class="container">
        <div class="row">
          <% @projects.each do |project| %>
            <%if project.money_colected > project.goal %>
            <%  project.state = "funded" %>
              <%  project.save %>
            <%end%>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="border-radius: 25px">
              <h1><%= project.name %></h1>
              <% if Image.find_by(Project_id: project.id) != nil %>
                <%= image_tag Image.find_by(Project_id: project.id).avatar.url, :class=> "card-img-top" %>
              <% end%>
              <div class="card-body">
                <h3>Goal</h3>
                <p class="card-text"><%= project.goal %></p>
                <h3>Colected</h3>
                <p class="card-text"><%= project.money_colected %></p>
                <h3>Status</h3>
                <p class="card-text"><%= project.state %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <% if (user_signed_in? && project.User_id == current_user.id) || session[:admin]%>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Show', project %></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_project_path(project) %></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                    <%else%>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Show', project %></button>
                    <%end%>
                      </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>

      </div>
</div>


  <!---


<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th>Goal</th>
      <th>Money colected</th>
      <th>Expiration date</th>
      <th>State</th>
      <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.User %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.goal %></td>
        <td><%= project.money_colected %></td>
        <td><%= project.expiration_date %></td>
        <td><%= project.state %></td>
        <td><%= project.start_date %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

-->

