<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<title> Session</title>

<body>


<div class="container">


  <nav class="navbar navbar-dark bg-primary">
    <div class="row">
      <h1 style="color:white">Eggshell</h1>
      <div class=" col">
        <div class="row">
          <a href="/home/index" class="btn btn-primary" role="button">Home</a>
          <a href="/users" class="btn btn-primary" href="#" role="button">User</a>
          <a href="/projects" class="btn btn-primary" href="#" role="button">My projects</a>
        </div>
      </div>
      <div class="col">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

      </div>

      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>

    </div>


  </nav>

  <div class = "container">
    <h1><%= @project.name %></h1>
    <div class = "col-6">
    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp; text=Falcon Heavy" alt="cohete feed" style="height: 225px; width: 100%; display: block;" src="/assets/cohete.jpg">
    <p><%= @project.description %> </p>
    </div>
  </div>




  <div class=col-4>


<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project.User %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Money colected:</strong>
  <%= @project.money_colected %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @project.expiration_date %>
</p>

<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


  </div>
</div>
</body>
</html>
