

<% session[:current_project_id ] = @project.id%>
  <div class = "container">
    <div class = "row">
      <div class = " col-7">
        <div class = "container">
          <h1><%= @project.name %></h1>

            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp; text=Falcon Heavy" alt="cohete feed" style="height: 500px; width: 100%; display: block;" src="/assets/cohete.jpg">
            <p><%= @project.description %> </p>

        </div>
      </div>
      <div class=" col-5">
        <div class="container" style="background-color: dodgerblue; border-radius: 25px; margin: 10px;">
          <h2>Objective</h2>
          <%= @project.goal %>
          <h2>Colected</h2>
          <%= @project.money_colected%>
          <h2>End of project</h2>
          <%= @project.expiration_date %>
            <h2> Want to support? </h2>
            <input class="form-control" type="text" placeholder="Amount">
             <button type="button" class="btn btn-success" style="width: 50%; border-radius: 25px;">Donate</button>
        </div>
        <% if user_signed_in? %>
        <a  class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px" href="/wishlists/new" >Add to whishlist</a>
        <a href="/promises" type="button" class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px">Promises</a>
<% else %>
          <a href="/promises" type="button" class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px">Promises</a>
<%end%>

          <a  class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px" href="/featureds/new" >Add to featured</a>



                </div>
              </div>
            </div>
          </div>






<!--
  <div class=col-4>


<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project.User %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Money colected:</strong>
  <%= @project.money_colected %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @project.expiration_date %>
</p>

<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


  </div>

-->
</body>
</html>
