

<% session[:current_project_id ] = @project.id%>
  <div class = "container">
    <div class = "row">
      <div class = " col-7">
        <div class = "container">
          <h1><%= @project.name %></h1>
          <% if Image.find_by(Project_id: session[:current_project_id]) != nil %>
<%image =Image.find_by(Project_id: session[:current_project_id])%>
<%= image_tag Image.find_by(Project_id: session[:current_project_id]).avatar.url(:medium), :class=> "card-img-top" %>
          <%= link_to "Download", image.avatar.url(:original, false)%>
            <% end%>
          <!---
            <img class="card-img-top"  style="height: 500px; width: 100%; display: block;" src="/assets/cohete.jpg"> -->
            <p> <%= markdown(@project.description) %></p>

        </div>
      </div>
      <div class=" col-5">
        <div class="container" style="background-color: lightcyan; border-radius: 25px; margin: 10px;">
          <h2>Objective</h2>
          <%=@project.goal %>
          <h2>Colected</h2>
          <%= @project.money_colected%>
          <h2>End of project</h2>
          <%= @project.expiration_date %>
          <h2>Status</h2>
          <%= @project.state %>
            <h2> Want to support? </h2>
             <a  class="btn btn-success" href="/user_funds_projects/new" style="width: 100%; border-radius: 25px;">Donate</a>
        </div>
        <% if user_signed_in? %>
        <a  class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px" href="/wishlists/new" >Add to whishlist</a>
       <!-- <a href="/promises"  class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px">Promises</a> -->

          <a href="/descriptive_pages"  class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px">Project site</a>

          <% if  @project.User_id == current_user.id || session[:admin]%>
            <a  class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px" href="/categories/new">Add to category</a>
            <a href="/images/new"  class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px">Add image</a>
            <button type="button" class="btn btn-sm btn-outline-secondary" style="width: 100%; background-color: darkred ; margin: 5px; border-radius: 25px"><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %></button>


      <% end %>

      <% else %>
         <!-- <a href="/promises"  class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px">Promises</a> -->
          <a href="/descriptive_pages"  class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px">Project site</a>
        <%end%>
        <% if session[:admin] %>
          <a  class="btn btn-info" style="width: 100%; background-color: cornflowerblue; margin: 5px; border-radius: 25px" href="/featureds/new" >Add to featured</a>
        <% end %>

        <h3>Promises</h3>



        <% @promises.each do |promise| %>


            <div class="card mb-4 box-shadow" style="background-color: lightskyblue">
              <div class="card-body">
                <h2>Value</h2>
                <%= promise.value %>
                <h2>Condition</h2>
                <%= promise.condition %>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <% if (user_signed_in? && promise.Project.User_id == current_user.id) || session[:admin]%>
                      <button type="button" class="btn btn-sm btn-outline-secondary" > <%= link_to 'Buy', promise %></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_promise_path(promise) %></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Destroy', promise, method: :delete, data: {confirm: 'Are you sure?'} %></button>
                    <%else%>
                      <button type="button" class="btn btn-sm btn-outline-secondary"> <%= link_to 'Buy', promise %></button>
                    <%end%>
                    </div>
                  </div>
                </div>


          </div>
        <% end %>
        <% if user_signed_in? %>
        <% if  @project.User_id == current_user.id || session[:admin]%>

          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'New Promise', new_promise_path %></button>
        <%end%>
        <% end %>

      </div>
              </div>
            </div>
          </div>




<!--
  <div class=col-4>


<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project.User %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Money colected:</strong>
  <%= @project.money_colected %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @project.expiration_date %>
</p>

<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


  </div>

-->
</body>
</html>
