<p id="notice"><%= notice %></p>

<h1>User Funds Projects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_funds_projects.each do |user_funds_project| %>
      <tr>
        <td><%= user_funds_project.User %></td>
        <td><%= user_funds_project.Project %></td>
        <td><%= user_funds_project.amount %></td>
        <td><%= link_to 'Show', user_funds_project %></td>
        <td><%= link_to 'Edit', edit_user_funds_project_path(user_funds_project) %></td>
        <td><%= link_to 'Destroy', user_funds_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Funds Project', new_user_funds_project_path %>
