<div class = "container">

<p id="notice"><%= notice %></p>

<h1>Projects you suported</h1>

<table class = "table table-hover -bordered">
  <thead>
    <tr>

      <th>Project</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_funds_projects.each do |user_funds_project| %>
      <tr>

        <td><%= user_funds_project.Project.name %></td>
        <td><%= user_funds_project.amount %></td>
         </tr>

  <!--  <td><%= link_to 'Destroy', user_funds_project, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    -->
  <% end %>
  </tbody>
</table>
  <h1>Promises you bought</h1>

  <table class = "table table-hover -bordered">
    <thead>
    <tr>

      <th>Project</th>
      <th>Promise condition</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @user_buys_promises.each do |user_buys_promise| %>
      <tr>

        <td><%= user_buys_promise.Promise.Project.name %></td>
        <td><%= user_buys_promise.Promise.condition %></td>
        <td><%= user_buys_promise.Promise.value %></td>
      </tr>


    <% end %>
    </tbody>
  </table>

<br>



</div>