<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_funds_project.User %>
</p>

<p>
  <strong>Project:</strong>
  <%= @user_funds_project.Project %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @user_funds_project.amount %>
</p>

<%= link_to 'Edit', edit_user_funds_project_path(@user_funds_project) %> |
<%= link_to 'Back', user_funds_projects_path %>
