<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<title> Session</title>

<body>


<nav class="navbar navbar-dark bg-primary">
  <div class="row">
    <h1 style="color:white">Eggshell</h1>
    <div class=" col">
      <div class="row">
        <a href="/home/index" class="btn btn-primary" role="button">Home</a>
        <a href="/profiles" class="btn btn-primary"  role="button">User profile</a>
        <a href="/users" class="btn btn-primary"  role="button">Users List</a>
        <a href="/projects" class="btn btn-primary"  role="button">My projects</a>
        <a href="/projects" class="btn btn-primary"  role="button">Projects</a>
        <a href="/sessions/new" class="btn btn-primary"  role="button">Log in</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </div>

</nav>


  </nav>
  <div class=col-4>



<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wishlist.User %>
</p>

<p>
  <strong>Project:</strong>
  <%= @wishlist.Project %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>



  </div>
</div>
</body>
</html>