<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GETFUNDING</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="style.css" rel="stylesheet">
    <title>Assigment12</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>
  <body class ="bg" background ="/assets/fondo.jpg" >

  <!-- Navigation ------------------------------------------------------------------------------------------------------------------------------------------>
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="home/index" ><img src="/assets/logo.png" height="50" width="90"></a>
      <h1 style="color:black" >GETFUNDING</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/home/index">Home</a>
            </li>

            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/projects">Projects</a>
            </li>

            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/user_projects/index">My projects</a>
            </li>

            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href= "/profiles" >User profile</a>
            </li>

            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/user_funds_projects">History</a>
            </li>

            <%if session[:admin] %>
            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/admin_sees_user/index">Users</a>
            </li>
            <% end %>

            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/search/index">Search</a>
            </li>

          <%else%>
            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/home/index">Home</a>
            </li>

            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/projects">Projects</a>
            </li>

            <li class="nav-item active">
              <a class="btn btn-primary m-1" style="color:#FFFFFF" href="/search/index">Search</a>
            </li>


          <%end %>

          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :style=> 'color:#FFFFFF;', :class => 'btn btn-primary m-1'%>
          <%else%>
            <a href="/users/sign_in" class="btn btn-primary m-1" style="color:#FFFFFF"  role="button">Log in</a>


          <%end %>



          <!--
          <div class="row">
            <div class="col">
              <input class="form-control mt-1 m-1" type="search" placeholder="Search" aria-label="Search">
            </div>
            <button class="btn btn-success mt-1 mb-1 m-1" type="submit">Search</button>
          </div>  -->
        </ul>
      </div>
    </div>


  </nav>
  <body>
  <script>
      window.fbAsyncInit = function() {
          FB.init({
              appId      : '{178616062854553}',
              cookie     : true,
              xfbml      : true,
              version    : '{3.0}'
          });

          FB.AppEvents.logPageView();

      };

      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>


  <div class="container">

    <% if flash[:notice] %>
      <div class="alert alert-success" >
        <button type="button" class="close" data-dismiss = "alert">&times;</button>
        <%= flash[:notice] %>
      </div>
      <% elsif flash[:error]%>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss = "alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert]%>
      <div class="alert ">
        <button type="button" class="close" data-dismiss = "alert">&times;</button>
        <%= flash[:alert] %>
      </div>
      <% end %>

  <!--<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
-->
    <%= yield %>


  </div>
  </body>