<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<title> Session</title>

<body>


<div class="container">


  <nav class="navbar navbar-dark bg-primary">
    <div class="row">
      <h1 style="color:white">Eggshell</h1>
      <div class=" col">
        <div class="row">
          <a href="/home/index" class="btn btn-primary" role="button">Home</a>
          <a href="/users" class="btn btn-primary" href="#" role="button">User</a>
          <a href="/projects" class="btn btn-primary" href="#" role="button">My projects</a>
        </div>
      </div>
      <div class="col">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

      </div>

      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>

    </div>


  </nav>
  <div class=col-4>



<%= form_with(model: promise, local: true) do |form| %>
  <% if promise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promise.errors.count, "error") %> prohibited this promise from being saved:</h2>

      <ul>
      <% promise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <!-- <div class="field">
    <%= form.label :Project_id %>
    <%= form.text_field :Project_id, id: :promise_Project_id %>
  </div>
-->
  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :promise_value %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition, id: :promise_condition %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


  </div>
</div>
</body>
</html>
